body {
  background-color: #000;
  overflow: hidden;
}

.crypto-display--element {
  display: flex;
  /*
  width: 100vw;
  height: 100vh;
  */
  align-items: center;
  justify-content: center;
  font: 24vw Arial, sans-serif;
  margin: auto;
}

[status="normal"] {
  color: grey;
}

[status="inc"] {
  color: #2f2;
}

[status="desc"] {
  color: #f22;
}
